@use './variables.scss' as var;
@use 'sass:math';

.advantages-container {
    position: relative;
    width: 60%;
    min-height: 120vh;
    margin: 0 auto;
    display: flex;
    gap: var.$gap * 6;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        font-weight: 800;
        font-family: var.$secondary-fontFamily;
        color: var.$primary-pink;
        font-size: var.$fontSize * 4;
        line-height: math.div(var.$lineHeight, 1.8);
        text-align: justify;
        letter-spacing: var.$letterSpacing;
        filter: drop-shadow(2px 2px var.$black);
        margin: 0 auto;
    }

    h2 {
        width: 80%;
        font-weight: 400;
        font-size: var.$fontSize * 1.6;
        letter-spacing: var.$letterSpacing;
        line-height: var.$lineHeight * 1.1;
        text-align: justify;

        span {
            font-weight: 800;
        }
    }
}

.advantage-container {
    margin: 0 auto;
    display: grid;
    gap: var.$gap;
    grid-template-columns: 1fr 1fr 1fr;

    h2 {
        padding: var.$padding;
        font-size: var.$fontSize * 2.2;
        font-weight: 800;
        font-family: var.$secondary-fontFamily;
        filter: drop-shadow(1px 1px var.$black);
        line-height: math.div(var.$lineHeight, 1.5);
        letter-spacing: var.$letterSpacing;
        color: var.$primary-pink;
        padding-right: var.$padding;
        text-transform: uppercase;
        text-align: right;
    }

    p {
        font-size: var.$fontSize * 1.6;
        line-height: var.$lineHeight;
        padding: 0 var.$padding * 2;
    }

    .advantage {
        padding: var.$padding * 2;
        display: grid;
        gap: var.$gap;
        grid-template-rows: 1fr 2fr;
        place-items: center;
        font-weight: 400;
        border-right: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-radius: var.$borderRadius;
        background-color: transparent;
        transition: var.$transition;
        text-align: justify;

        &:hover {
            border-right: 8px solid var.$primary-pink;
            border-bottom: 8px solid var.$secondary-pink;
            transform: scale(0.95);
        }

        &:hover h2 {
            color: var.$secondary-pink;
        }
    }
}

.advantage-title {
    display: flex;
    gap: var.$gap * 3;
    flex-direction: column;
    align-items: center;
    align-items: center;

    h1 {
        font-weight: 800;
        color: var.$orange-200;
        line-height: var.$lineHeight * 0.7;
        letter-spacing: var.$letterSpacing;
        text-align: center;
        filter: drop-shadow(1px 1px var.$black);
    }

    .information-btn {
        width: 50%;
        margin: 0 auto;
    }
}

.stars {
    position: absolute;
    z-index: -1;
    width: 20%;
    top: -2%;
    right: -10%;
}

.dot {
    width: 35%;
    position: absolute;
    z-index: -3;
}

.green-dots1 {
    bottom: 15%;
    left: 80%;
}

.green-dots2 {
    top: 0%;
    left: 45%;
}

.pink-dots {
    bottom: 0%;
    left: 15%;
    transform: rotate(10deg);
}

.plane {
    width: 30%;
    position: absolute;
    top: 10%;
    left: -20%;
    z-index: -3;
    transform: rotate(-18deg);
}

.planet {
    width: 16%;
    position: absolute;
    top: 78%;
    right: 100%;
    z-index: -3;
}
