@use './variables.scss' as var;
@use 'sass:math';

.advantages-container {
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin: var.$margin * 8 auto 0;
    display: flex;
    gap: var.$gap * 8;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        font-weight: 400;
        font-family: var.$third-fontFamily;
        color: var.$orange-300;
        filter: drop-shadow(3px 3px var.$orange-000);
        font-size: var.$fontSize * 4;
        text-transform: uppercase;
        line-height: math.div(var.$lineHeight, 1.8);
        letter-spacing: var.$letterSpacing;
        margin: 0 auto;
    }

    h2 {
        font-weight: 400;
        font-size: var.$fontSize * 1.8;
        letter-spacing: var.$letterSpacing;
        line-height: var.$lineHeight * 1.1;

        span {
            font-weight: 800;
        }
    }

    .advantage-container {
        margin: 0 auto;
        display: grid;
        gap: var.$gap * 6;
        grid-template-columns: 1fr 1fr 1fr;

        .advantage {
            display: grid;
            gap: var.$gap * 3;
            grid-template-rows: 0.5fr 1fr;
            place-items: center;
            font-weight: 400;
            background-color: transparent;
            transition: var.$transition;
            text-align: center;
            cursor: pointer;

            &:hover {
                transform: scale(0.95);
            }

            h2 {
                font-size: var.$fontSize * 2.6;
                font-weight: 100;
                font-family: var.$third-fontFamily;
                line-height: math.div(var.$lineHeight, 1.5);
                letter-spacing: var.$letterSpacing * 2;
                color: var.$orange-300;
                filter: drop-shadow(2px 2px var.$orange-000);
                text-transform: uppercase;
            }

            p {
                font-size: var.$fontSize * 1.6;
                line-height: var.$lineHeight;
            }
        }
    }
}

.advantages-images {
    position: absolute;
    z-index: -3;
    opacity: 0.3;
    color: var.$primary-pink;
    font-size: var.$fontSize * 10;
}

.advantages-planet-image {
    top: 15%;
    right: -12%;
}

.advantages-orange-image {
    bottom: 13%;
    left: 75%;
    transform: rotate(-10deg);
}

.advantages-line-image {
    top: -15%;
    left: 40%;
}

.advantages-eye-image {
    bottom: 5%;
    left: 8%;
    transform: rotate(10deg);
}

.advantages-currency-image {
    top: 30%;
    left: -25%;
    transform: rotate(-18deg);
}

@media (max-width: 1680px) {
    .advantages-container {
        gap: var.$gap * 5;

        h1 {
            font-size: var.$fontSize * 3.5;
        }

        h2 {
            font-size: var.$fontSize * 1.4;
        }

        .advantage-container {
            gap: var.$gap * 4;

            .advantage {
                gap: var.$gap * 2;

                h2 {
                    font-size: var.$fontSize * 2;
                }

                p {
                    font-size: var.$fontSize * 1.4;
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .advantages-container {
        h1 {
            width: 70%;
            line-height: var.$lineHeight * 0.8;
            filter: drop-shadow(2px 2px var.$orange-000);
        }
    }
}

@media (max-width: 1180px) {
    .advantages-container {
        width: 65%;
        gap: var.$gap * 4;

        h1 {
            width: 80%;
        }
    }
}

@media (max-width: 1080px) {
    p {
        font-size: var.$fontSize * 1.4;
    }
}

@media (max-width: 990px) {
    .advantages-container {
        width: 70%;

        h1 {
            width: 80%;
            font-size: var.$fontSize * 3;
        }

        h2 {
            width: 95%;
        }

        .advantage-container {
            display: flex;
            gap: var.$gap * 6;
            flex-direction: column;

            .advantage {
                h2 {
                    width: 70%;
                    text-align: center;
                    padding: var.$padding * 0.25;
                }
            }
        }
    }
}

@media (max-width: 770px) {
    .advantages-container {
        h1 {
            width: 100%;
            filter: drop-shadow(1.5px 1.5px var.$orange-000);
        }

        .advantage-container {
            .advantage {
                h2 {
                    font-size: var.$fontSize * 2;
                }

                p {
                    font-size: var.$fontSize * 1.3;
                }
            }
        }
    }

    .advantages-images {
        font-size: var.$fontSize * 8;
    }
}

@media (max-width: 600px) {
    .advantages-container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .advantages-container {
        h2 {
            font-size: var.$fontSize * 1.4;
            line-height: var.$lineHeight;
        }

        .advantage-container {
            .advantage {
                grid-template-rows: 0.25fr 0.75fr;
            }

            p {
                font-size: var.$fontSize * 1.2;
                letter-spacing: var.$letterSpacing * 0.8;
            }
        }
    }
}
