@use './variables.scss' as var;
@use 'sass:math';

.advantages-container {
    position: relative;
    width: 60%;
    margin: var.$margin * 2 auto;
    min-height: 100vh;
    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        font-weight: 800;
        color: var.$orange-300;
        font-size: var.$fontSize * 4;
        line-height: math.div(var.$lineHeight, 1.8);
        text-align: justify;
        letter-spacing: var.$letterSpacing;
        filter: drop-shadow(2px 2px var.$black);
        margin: 0 auto;
    }

    h2 {
        width: 75%;
        font-weight: 400;
        font-size: var.$fontSize * 1.8;
        letter-spacing: var.$letterSpacing;
        text-align: right;
        line-height: 2;
    }
}

.advantage-container {
    margin: 0 auto;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;

    h2 {
        width: 70%;
        font-size: var.$fontSize * 2;
        font-weight: 800;
        line-height: math.div(var.$lineHeight, 1.5);
        letter-spacing: var.$letterSpacing;
        color: var.$orange-300;
        filter: drop-shadow(2px 2px var.$black);
        border-right: 4px solid var.$orange-300;
        padding-right: var.$padding;
        text-transform: uppercase;
    }

    p {
        font-size: var.$fontSize * 1.5;
        line-height: var.$lineHeight;
        padding: 0 var.$padding * 2;
    }

    .advantage {
        padding: var.$padding * 2;
        display: grid;
        gap: 20px;
        grid-template-rows: 1fr 2fr;
        place-items: center;
        font-weight: 400;
        border-radius: var.$borderRadius;
        background-color: transparent;
        transition: var.$transition;
        text-align: justify;

        &:hover {
            box-shadow: 4px 4px 5px var.$orange-100;
            transform: scale(0.95);
        }
    }
}

.stars {
    position: absolute;
    z-index: -1;
    width: 20%;
    top: -2%;
    right: -10%;
}

.dot {
    width: 25%;
    position: absolute;
    z-index: -3;
}

.green-dots1 {
    bottom: -5%;
    left: 49%;
}

.green-dots2 {
    top: 0%;
    left: 46%;
}

.pink-dots {
    bottom: 4%;
    left: 5%;
    transform: rotate(5deg);
}

.plane {
    width: 25%;
    position: absolute;
    top: 18%;
    left: -15%;
    z-index: -3;
    transform: rotate(-10deg);
}
