@use './variables.scss' as var;
@use 'sass:math';

.form-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.contact-form {
    width: 50%;
    display: flex;
    gap: var.$gap * 4;
    flex-direction: column;
    margin: var.$margin * 8 auto;

    h1 {
        width: 95%;
        font-weight: 100;
        color: var.$secondary-violet;
        font-size: var.$fontSize * 5.5;
        font-family: var.$third-fontFamily;
        text-align: center;
        letter-spacing: var.$letterSpacing;
        line-height: var.$lineHeight * 0.9;
        margin: 0 auto;

        span {
            color: var.$primary-pink;
            filter: drop-shadow(2px 2px var.$secondary-pink);
        }
    }

    h2 {
        margin: 0 auto;
        width: 80%;
        font-size: var.$fontSize * 3;
        font-weight: 100;
        font-family: var.$secondary-fontFamily;
        text-align: center;
        letter-spacing: var.$letterSpacing;
        line-height: var.$lineHeight * 0.8;

        span {
            color: var.$orange-300;
            filter: drop-shadow(2px 2px var.$orange-000);
        }
    }

    h3 {
        margin: 0 auto;
        font-size: var.$fontSize * 1.8;
        font-weight: 400;
        line-height: var.$lineHeight;

        span {
            font-weight: 800;
        }
    }

    h4 {
        width: 40%;
        margin: 0 auto;
        font-weight: 100;
        font-size: var.$fontSize * 1.6;
        line-height: var.$lineHeight;
        text-align: center;

        .email-icon {
            width: 100%;
            z-index: 100;
            text-align: center;
            font-size: var.$fontSize * 5.5;
            color: var.$orange-300;
            filter: drop-shadow(3px 3px var.$orange-000);
            transition: var.$transition;
            cursor: pointer;

            &:hover {
                color: var.$primary-pink;
                filter: drop-shadow(2px 2px var.$secondary-pink);
                transform: scale(0.9);
            }
        }
    }

    .application-btn {
        width: 30%;
        margin: 0 auto;
        font-size: var.$fontSize * 2;
    }
}

.questions {
    display: flex;
    gap: var.$gap * 2;
    flex-direction: column;

    .question {
        width: 100%;
        display: flex;
        gap: var.$gap * 0.8;
        flex-direction: column;
    }
}

.checkbox-container {
    display: flex;
    gap: var.$gap * 2;
    align-items: center;
    cursor: pointer;
    font-size: var.$fontSize * 1.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: var.$margin * 0.75;

    input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        cursor: pointer;
    }

    p {
        width: 95%;
    }
}

.checkmark {
    height: 20px;
    width: 20px;
    background-color: var.$orange-300;
    border-radius: var.$borderRadius;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var.$orange-000;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: var.$borderRadius;
    background: var.$peach;
}

label {
    color: var.$black;
    font-size: var.$fontSize * 1.6;
    line-height: var.$lineHeight;
}

input,
textarea {
    width: 100%;
    padding: var.$padding * 0.7;
    border: none;
    font-family: inherit;
    border-radius: var.$borderRadius;
    background-color: var.$white;
    box-shadow: 1px 1px 4px var.$orange-000;
    filter: drop-shadow(2px 2px var.$orange-300);
    outline: none;
}

textarea {
    height: 15vh;
    padding: var.$padding;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.8;
}

.contact-images {
    position: absolute;
    font-size: var.$fontSize * 12;
    color: var.$primary-pink;
    opacity: 0.4;
    z-index: -3;
}

.contact-phone-image {
    top: 125%;
    left: 50%;
    font-size: var.$fontSize * 8;
}

.contact-star-image {
    top: 50%;
    left: 15%;
}

.contact-rainbow-image {
    top: 155%;
    right: 15%;
}

.contact-rocket-image {
    top: 70%;
    right: 15%;
}

.contact-pin-image {
    top: 20%;
    left: 50%;
    font-size: var.$fontSize * 6;
}

.contact-clip-image {
    top: 185%;
    left: 15%;
    font-size: var.$fontSize * 6;
}

@media (max-width: 1650px) {
    .contact-form {
        width: 60%;
    }

    .checkbox-container {
        width: 80%;
    }
}

@media (max-width: 1540px) {
    .contact-form {
        h2 {
            width: 90%;
        }
    }
}

@media (max-width: 1380px) {
    .contact-form {
        width: 70%;

        h1 {
            width: 80%;
            margin: 0 auto;
            font-size: var.$fontSize * 3.8;
        }

        h2 {
            width: 70%;
            font-size: var.$fontSize * 2.5;

            span {
                filter: drop-shadow(1px 1px var.$orange-000);
            }
        }
    }
}

@media (max-width: 1040px) {
    .contact-form {
        h2 {
            font-size: var.$fontSize * 2.5;
        }
    }
}

@media (max-width: 950px) {
    label {
        font-size: var.$fontSize * 1.4;
    }

    .checkbox-container {
        font-size: var.$fontSize * 1.4;
    }

    .contact-plane-image {
        width: 20%;
        top: 130%;
    }
}

@media (max-width: 800px) {
    .contact-form {
        width: 80%;
        margin: var.$margin * 6 auto;

        h1 {
            font-size: var.$fontSize * 3;
        }

        h2 {
            font-size: var.$fontSize * 1.8;
        }

        h3 {
            font-size: var.$fontSize * 1.6;
        }

        h4 {
            width: 50%;
            font-size: var.$fontSize * 1.4;
        }

        .application-btn {
            width: 40%;
        }
    }

    .checkmark {
        height: 15px;
        width: 15px;
    }

    label {
        color: var.$black;
        font-size: var.$fontSize * 1.2;
    }

    .checkbox-container {
        font-size: var.$fontSize * 1.2;

        p {
            font-size: var.$fontSize * 1.2;
        }
    }

    .contact-images {
        font-size: var.$fontSize * 6;
    }
}

@media (max-width: 670px) {
    .contact-form {
        h1 {
            font-size: var.$fontSize * 2.8;
        }

        h2 {
            font-size: var.$fontSize * 2;
        }

        h3 {
            font-size: var.$fontSize * 1.4;
        }
    }
}

@media (max-width: 600px) {
    .contact-form {
        width: 90%;

        h1 {
            width: 85%;
            margin: 0 auto;
            line-height: var.$lineHeight * 0.7;
            font-size: var.$fontSize * 2.6;
        }

        h2 {
            width: 80%;
            line-height: var.$lineHeight * 0.9;
            font-size: var.$fontSize * 2;
        }

        h4 {
            width: 55%;
        }

        .application-btn {
            width: 50%;
        }
    }

    .questions {
        .question {
            margin-left: var.$margin * 2;
        }
    }

    .checkbox-container {
        p {
            font-size: var.$fontSize;
        }
    }
}

@media (max-width: 510px) {
    .contact-form {
        h4 {
            width: 60%;
            font-size: var.$fontSize * 1.2;
        }
    }
}

@media (max-width: 450px) {
    .contact-form {
        h1 {
            font-size: var.$fontSize * 2.4;
        }

        h2 {
            font-size: var.$fontSize * 1.6;
        }

        h3 {
            font-size: var.$fontSize * 1.2;
        }

        .application-btn {
            width: 60%;
        }
    }

    .questions {
        padding: 0;

        .question {
            margin-left: 0;
        }
    }
}
