@use './variables.scss' as var;

.banner-container {
    min-height: 14vh;
    background-color: var.$orange-400;

    p {
        font-size: var.$fontSize * 3;
        font-weight: 400;
        line-height: 14vh;
        text-align: center;
        color: var.$black;
        filter: drop-shadow(1px 1px var.$white);

        span {
            font-weight: 800;
            filter: drop-shadow(1px 1px var.$peach);
        }
    }
}
