@use './variables.scss' as var;

.footer-content {
    position: relative;
    width: 100%;
    background-color: var.$orange-400;

    .copyright-text {
        margin: 0 auto;
        font-weight: 500;
        text-align: center;
        line-height: var.$lineHeight * 2;
        font-size: var.$fontSize * 1.4;
    }

    hr {
        width: 40%;
        margin: 0 auto;
        height: 4px;
        border: 4px solid var.$primary-pink;
        border-radius: var.$borderRadius;
        filter: drop-shadow(4px 4px var.$secondary-pink);
    }

    .footer-text {
        width: 70%;
        margin: 0 auto;
        display: grid;
        justify-content: center;
        gap: var.$gap * 2;
        grid-template-columns: 0.3fr 0.3fr 0.4fr;
        padding: var.$padding * 5 0;

        .footer-text-element {
            width: 100%;
            display: flex;
            gap: var.$gap * 1.2;
            flex-direction: column;

            h2 {
                color: var.$primary-pink;
                font-size: var.$fontSize * 3;
                font-weight: 900;
                font-family: var.$secondary-fontFamily;
                line-height: var.$lineHeight;
                letter-spacing: var.$letterSpacing * 2;
                text-transform: uppercase;
                filter: drop-shadow(2px 2px var.$secondary-pink);
                text-align: center;
            }

            p {
                line-height: var.$lineHeight * 0.9;
                font-size: var.$fontSize * 1.8;
                font-weight: 600;
                text-align: center;
            }

            .footer-slogan {
                font-weight: 600;
                font-size: var.$fontSize * 2;
            }
        }
    }

    #footer-menu-btn {
        width: 80%;
        margin: 0 auto;
        border: none;
        background-color: var.$orange-300;
        border-radius: var.$borderRadius;
        transition: var.$transition;
        cursor: pointer;

        p {
            display: flex;
            gap: var.$gap * 0.5;
            align-items: center;
            padding: 0 0 0 var.$padding;
            color: var.$black;
            font-size: var.$fontSize * 1.8;
            font-family: var.$primary-fontFamily;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: var.$letterSpacing * 2;
        }
    }

    #footer-menu-btn:hover {
        transform: scale(0.95);
    }

    .policy-link {
        color: var.$orange-200;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        transition: var.$transition;
        filter: drop-shadow(1px 1px var.$orange-000);
        cursor: pointer;

        &:hover {
            font-size: var.$fontSize * 1.2;
        }
    }
}

@media (max-width: 1285px) {
    .footer-content {
        .footer-text {
            width: 80%;
        }
    }
}

@media (max-width: 1185px) {
    .footer-content {
        .footer-text {
            width: 90%;
        }
    }
}

@media (max-width: 1005px) {
    .footer-content {
        .footer-text {
            grid-template-columns: 0.3fr 0.3fr 0.4fr;

            .footer-text-element {
                gap: var.$gap;

                h2 {
                    font-size: var.$fontSize * 2.5;
                    filter: drop-shadow(2px 2px var.$secondary-pink);
                }

                p {
                    font-size: var.$fontSize * 1.6;
                }
            }
        }

        #footer-menu-btn {
            p {
                font-size: var.$fontSize * 1.6;
            }
        }
    }
}

@media (max-width: 925px) {
    .footer-content {
        hr {
            width: 60%;
        }

        .footer-text {
            width: 60%;
            display: flex;
            gap: var.$gap * 3;
            flex-direction: column;
            padding: var.$padding * 3 0;
        }
    }
}

@media (max-width: 770px) {
    .footer-content {
        .copyright-text {
            font-size: var.$fontSize * 1.2;
        }

        .footer-text {
            grid-template-columns: 0.33fr 0.33fr 0.33fr;

            .footer-text-element {
                h2 {
                    font-size: var.$fontSize * 2;
                    filter: drop-shadow(1.5px 1.5px var.$secondary-pink);
                }

                p {
                    font-size: var.$fontSize * 1.4;
                }
            }
        }

        #footer-menu-btn {
            p {
                font-size: var.$fontSize * 1.4;
            }
        }
    }
}

@media (max-width: 700px) {
    .footer-content {
        .footer-text {
            gap: var.$gap * 3;

            .footer-text-element {
                h2 {
                    font-size: var.$fontSize * 2;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .footer-content {
        .copyright-text {
            font-size: var.$fontSize * 0.9;
        }
    }
}

@media (max-width: 465px) {
    .footer-content {
        .footer-text {
            width: 70%;
        }
    }
}

@media (max-width: 375px) {
    .footer-content {
        p {
            font-size: var.$fontSize * 1.2;
        }

        .footer-text {
            width: 80%;

            .footer-text-element {
                h2 {
                    font-size: var.$fontSize * 1.8;
                }

                p {
                    font-size: var.$fontSize * 1.2;
                }
            }
        }

        #footer-menu-btn {
            p {
                font-size: var.$fontSize * 1.2;
            }
        }
    }
}
