@use './variables.scss' as var;

.footer-content {
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: var.$orange-300;
    overflow: hidden;

    p {
        font-weight: 500;
        line-height: 10vh;
        text-align: center;
        font-size: var.$fontSize * 1.8;
        color: var.$black;
    }
}
