@use './variables.scss' as var;
@use 'sass:math';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var.$fontSize;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var.$peach;
    color: var.$black;
    font-family: var.$primary-fontFamily;
    font-weight: 300;
}

// BUTTONS

.basic-btn {
    padding: var.$padding * 0.5;
    text-transform: uppercase;
    font-size: var.$fontSize * 3;
    font-family: var.$secondary-fontFamily;
    letter-spacing: var.$letterSpacing * 4;
    font-weight: 900;
    color: var.$orange-000;
    border: none;
    border-radius: var.$borderRadius;
    background-color: var.$orange-300;
    filter: drop-shadow(5px 5px var.$orange-000);
    transition: var.$transition;
    cursor: pointer;

    &:hover {
        transform: scale(0.9);
        color: var.$peach;
        background-color: var.$primary-pink;
        filter: none;
    }
}

#btn-up {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 85%;
    right: 3%;
    z-index: 100;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: var.$borderRadius;
    background-color: transparent;
    transition: var.$transition ease-out;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        opacity: 1;
        transform: scale(0.7);
    }

    .btn-up-icon {
        font-size: var.$fontSize * 4;
        color: var.$orange-200;
        filter: drop-shadow(2px 2px var.$orange-000);
        transform: rotate(-45deg);
    }
}

.slider-container {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
    place-content: center;
    gap: var.$gap * 0.5;

    .toggle-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        filter: none;
        color: var.$primary-pink;
        font-size: var.$fontSize * 4;
        background-color: transparent;
        filter: drop-shadow(2px 2px var.$secondary-pink);
        animation: scale 2s infinite;
        cursor: pointer;
    }
}

// SQUARE

.square {
    position: absolute;
    border-radius: var.$borderRadius;
}

.big {
    width: var.$width * 2;
    height: var.$width * 2;
    z-index: -5;
    transform: rotate(20deg);
}

.medium {
    width: var.$width * 2;
    height: var.$height * 0.5;
    z-index: -3;
    transform: rotate(170deg);
}

.small-1 {
    position: absolute;
    border-radius: var.$borderRadius;
    width: 95px;
    height: 95px;
    transform: rotate(-80deg);
    animation: pulsatingSquare1 3s infinite;
}

.small-2 {
    width: 120px;
    height: 120px;
    transform: rotate(30deg);
    animation: pulsatingSquare2 3s infinite;
}

.small-3 {
    width: 65px;
    height: 65px;
    animation: pulsatingSquare3 4s infinite;
}

.small-4 {
    width: 80px;
    height: 80px;
    transform: rotate(20deg);
    animation: pulsatingSquare2 3s infinite;
}

@keyframes pulsating {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: var.$margin;
        transform: scale(0.8);
    }
    100% {
        margin-top: 0;
        transform: scale(1);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulsatingSquare1 {
    0% {
        transform: rotate(20deg) scale(1);
    }
    50% {
        transform: rotate(20deg) scale(0.95);
    }
    100% {
        transform: rotate(20deg) scale(1);
    }
}

@keyframes pulsatingSquare2 {
    0% {
        transform: rotate(-5deg) scale(1);
    }
    50% {
        transform: rotate(-25deg) scale(0.85);
    }
    100% {
        transform: rotate(-5deg) scale(1);
    }
}

@keyframes pulsatingSquare3 {
    0% {
        transform: rotate(-35deg) scale(1);
    }
    50% {
        transform: rotate(-65deg) scale(0.9);
    }
    100% {
        transform: rotate(-35deg) scale(1);
    }
}

@media (max-width: 1540px) {
    // .big {
    //     display: none;
    // }

    .small-2 {
        width: 100px;
        height: 100px;
    }

    .small-1 {
        width: 75px;
        height: 75px;
    }
}

@media (max-width: 1540px) {
    #btn-up {
        right: 1%;
    }
}

@media (max-width: 875px) {
    .small-1,
    .small-2,
    .small-3,
    .small-4 {
        display: none;
    }
}

@media (max-width: 890px) {
    #btn-up {
        width: 45px;
        height: 45px;

        .btn-up-icon {
            font-size: var.$fontSize * 3.5;
        }
    }
}

@media (max-width: 745px) {
    #btn-up {
        display: none;
    }
}

@media (max-width: 610px) {
    .slider-container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 510px) {
    .slider-container {
        display: flex;
        flex-direction: column;
        gap: var.$gap * 2;
    }
}
