@use './variables.scss' as var;
@use 'sass:math';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var.$fontSize;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var.$peach;
    color: var.$black;
    font-family: var.$primary-fontFamily;
    font-weight: 300;
}

// BUTTONS

.basic-btn {
    padding: var.$padding * 0.95;
    text-transform: uppercase;
    font-family: inherit;
    font-size: var.$fontSize * 2.2;
    font-family: var.$secondary-fontFamily;
    letter-spacing: var.$letterSpacing * 3;
    font-weight: 900;
    color: var.$black;
    border: none;
    border-radius: var.$borderRadius;
    background-color: var.$orange-400;
    filter: drop-shadow(6px 6px var.$orange-200);
    transition: var.$transition;
    cursor: pointer;

    &:hover {
        transform: scale(0.9);
        background-color: var.$orange-200;
        filter: none;
    }

    .icon-btn {
        position: absolute;
        top: 50%;
        right: 20%;
        transform: translateY(-50%);
        font-size: var.$fontSize * 2.5;
        transition: var.$transition * 4;
    }

    &:hover .icon-btn {
        top: -100%;
        transform: scale(0.4);
    }

    &:hover {
        transform: scale(0.9);
    }
}

#btn-up {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 80%;
    right: 3%;
    z-index: 100;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: var.$borderRadius;
    color: var.$primary-pink;
    filter: drop-shadow(1px 1px var.$peach);
    background-color: transparent;
    transition: var.$transition;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
        transform: scale(0.8);
        opacity: 1;
    }

    .btn-up-icon {
        font-size: var.$fontSize * 5;
        animation: pulsating 3s infinite linear;
        filter: drop-shadow(1px 1px var.$peach);
    }
}

// SQUARE

.square {
    position: absolute;
    border-radius: var.$borderRadius;
}

#big {
    width: var.$width;
    height: var.$height;
    z-index: -1;
    transform: rotate(52deg);
}

#medium {
    width: var.$width * 2;
    height: var.$height * 1.6;
    z-index: -2;
    transform: rotate(170deg);
}

#small-1 {
    width: math.div(var.$width, 19);
    height: math.div(var.$width, 19);
    transform: rotate(-80deg);
    animation: pulsatingSquare1 3s infinite;
}

#small-2 {
    width: math.div(var.$width, 13);
    height: math.div(var.$width, 13);
    transform: rotate(30deg);
    animation: pulsatingSquare2 6s infinite;
}

#small-3 {
    width: math.div(var.$width, 25);
    height: math.div(var.$width, 25);
    animation: pulsatingSquare3 3s infinite;
}

#small-4 {
    width: math.div(var.$width, 11);
    height: math.div(var.$width, 11);
    transform: rotate(20deg);
    animation: pulsatingSquare2 3s infinite;
}

@keyframes pulsating {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: var.$margin;
        transform: scale(0.8);
    }
    100% {
        margin-top: 0;
        transform: scale(1);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulsatingSquare1 {
    0% {
        transform: rotate(20deg) scale(1);
    }
    50% {
        transform: rotate(20deg) scale(0.95);
    }
    100% {
        transform: rotate(20deg) scale(1);
    }
}

@keyframes pulsatingSquare2 {
    0% {
        transform: rotate(-5deg) scale(1);
    }
    50% {
        transform: rotate(-25deg) scale(0.85);
    }
    100% {
        transform: rotate(-5deg) scale(1);
    }
}

@keyframes pulsatingSquare3 {
    0% {
        transform: rotate(-35deg) scale(1);
    }
    50% {
        transform: rotate(-65deg) scale(0.9);
    }
    100% {
        transform: rotate(-35deg) scale(1);
    }
}
