@use './variables.scss' as var;

.information-container {
    min-height: 35vh;
    text-transform: uppercase;
    display: flex;
    background-color: var.$peach;

    .elements {
        width: 55%;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: var.$gap * 10;
        margin: 0 auto;
        margin-top: var.$margin * 3;

        h2 {
            font-size: var.$fontSize * 1.8;
            border-bottom: 2px solid var.$orange-300;
        }

        .element {
            display: flex;
            gap: var.$gap * 1.5;
            flex-direction: column;
        }

        .information-element {
            display: flex;
            gap: var.$gap * 0.5;
            align-items: center;
            text-align: left;
            border: none;
            background-color: transparent;
            text-transform: uppercase;
            font-size: var.$fontSize * 1.5;
            transition: var.$transition;
            cursor: pointer;

            &:hover {
                font-weight: 600;
                color: var.$orange-200;
                padding-left: var.$padding * 0.5;
            }
        }

        p {
            font-size: var.$fontSize * 1.5;
            font-weight: 400;
        }
    }
}
