@use './variables.scss' as var;

.landing-container {
    min-height: 100vh;
}

.landing-title {
    display: flex;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 18%;
    width: 60%;
    font-weight: 900;
    font-size: var.$fontSize * 5.8;
    line-height: var.$lineHeight * 0.85;
    text-align: left;
    letter-spacing: var.$letterSpacing;

    .part-1 {
        color: var.$primary-pink;
        filter: drop-shadow(3px 3px var.$secondary-pink);
    }

    .part-2 {
        color: var.$orange-300;
        filter: drop-shadow(3px 3px var.$orange-000);
    }
}

.landing-images {
    position: absolute;
    z-index: -3;
}

.landing-background-image {
    position: absolute;
    top: -5%;
    right: 7%;
    width: 33%;
    filter: drop-shadow(6px 6px var.$orange-300);
    animation: upAndDown 6s infinite;
}

.landing-btn {
    position: absolute;
    top: 72%;
    left: 25%;
    width: 18%;
}

.landing-dot1-image {
    width: 20%;
    top: 10%;
    left: 10%;
}

.landing-stars1-image {
    width: 15%;
    top: 14%;
    left: 34%;
}

.landing-stars2-image {
    width: 10%;
    top: 68%;
    left: 10%;
    transform: rotate(20deg);
}

.landing-dot2-image {
    width: 20%;
    top: 45%;
    left: 38%;
    transform: rotate(-30deg);
}

@keyframes upAndDown {
    0% {
        top: 2%;
    }
    50% {
        top: 5%;
    }
    100% {
        top: 2%;
    }
}
