@use './variables.scss' as var;

.contact-icon-container {
    position: absolute;
    top: 8%;
    right: 6%;
    z-index: 100;
    display: flex;
    gap: 10px;
}

.contact-icon {
    z-index: 100;
    font-size: var.$fontSize * 5.5;
    color: var.$peach;
    filter: drop-shadow(3px 3px var.$black);
    transition: var.$transition;
    cursor: pointer;

    &:hover {
        color: var.$primary-olive;
        transform: scale(0.9);
    }
}
