@use './variables.scss' as var;

.contact-icon-container {
    display: flex;
    gap: var.$gap;
    align-items: center;
    justify-content: center;

    .contact-icon {
        z-index: 100;
        font-size: var.$fontSize * 5.5;
        color: var.$orange-400;
        filter: drop-shadow(3px 3px var.$orange-000);
        transition: var.$transition;
        cursor: pointer;

        &:hover {
            color: var.$primary-pink;
            filter: drop-shadow(2px 2px var.$secondary-pink);
            transform: scale(0.9);
        }
    }
}

@media (max-width: 980px) {
    .contact-icon-container {
        gap: var.$gap * 0.7;

        .contact-icon {
            font-size: var.$fontSize * 5;
        }
    }
}

@media (max-width: 875px) {
    .contact-icon-container {
        gap: var.$gap * 0.5;

        .contact-icon {
            font-size: var.$fontSize * 4.5;
        }
    }
}
