@use './variables.scss' as var;
@use 'sass:math';

.menu-container {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;

    .menu {
        min-height: math.div(var.$height, 8);
        display: flex;
        gap: var.$gap * 2;
        align-items: center;
        padding-left: var.$padding * 6;
    }

    .menu-element {
        padding: 0 var.$padding;
        color: var.$orange-300;
        filter: drop-shadow(2px 2px var.$orange-000);
        font-size: var.$fontSize * 3.5;
        font-weight: 900;
        font-family: var.$secondary-fontFamily;
        letter-spacing: var.$letterSpacing * 3;
        text-transform: uppercase;
        border: 1px solid transparent;
        text-align: center;
        transition: var.$transition;
        cursor: pointer;

        &:hover {
            color: var.$primary-pink;
            transform: scale(0.85);
            filter: drop-shadow(2px 2px var.$secondary-pink);
        }
    }
}
