@use './variables.scss' as var;
@use 'sass:math';
@import './mixins.scss';

.policy-container {
    min-height: 100vh;
    width: 50%;
    @include flex-column;
    gap: var.$gap * 2;
    margin: var.$margin * 4 auto;

    h1 {
        color: var.$orange-000;
    }
}

.policy-text {
    @include flex-column;
    gap: var.$gap;

    h2 {
        margin: var.$margin auto;
        color: var.$orange-100;
    }

    p {
        font-size: var.$fontSize * 1.2;
        line-height: 1.7;
    }
}
