@use './variables.scss' as var;
@use 'sass:math';

.projects-container {
    width: 50%;
    display: flex;
    gap: var.$gap * 8;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var.$margin * 10 auto;

    h1 {
        width: 80%;
        text-align: center;
        font-weight: 100;
        font-size: var.$fontSize * 5.5;
        font-family: var.$third-fontFamily;
        letter-spacing: var.$letterSpacing;
        line-height: var.$lineHeight * 0.9;
        margin: 0 auto;

        span:nth-child(1) {
            color: var.$primary-pink;
            filter: drop-shadow(3px 3px var.$secondary-pink);
        }

        span:nth-child(2) {
            color: var.$orange-300;
            filter: drop-shadow(3px 3px var.$orange-000);
        }
    }

    h2 {
        width: 80%;
        font-weight: 100;
        font-size: var.$fontSize * 3;
        font-family: var.$secondary-fontFamily;
        letter-spacing: var.$letterSpacing * 2;
        line-height: var.$lineHeight * 0.8;
        text-align: center;
    }

    .main-description {
        font-size: var.$fontSize * 1.8;
        font-weight: 100;
        line-height: var.$lineHeight * 1.2;
        letter-spacing: var.$letterSpacing;
        text-align: justify;
        margin: 0 auto;

        span {
            font-weight: 900;
        }
    }

    .projects {
        width: 100%;
        display: flex;
        gap: var.$gap * 8;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;

        .project {
            width: 100%;
            display: flex;
            gap: var.$gap * 6;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .project-title {
                width: 50%;
                transition: var.$transition;
                cursor: pointer;

                a {
                    text-align: center;
                    font-size: var.$fontSize * 3;
                    font-weight: 800;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: var.$orange-300;
                    filter: drop-shadow(3px 3px var.$orange-000);
                }

                &:hover {
                    transform: scale(0.9);
                }
            }

            .project-image {
                width: 100%;
                border: 15px solid var.$peach;
                border-radius: var.$borderRadius;
                box-shadow: 2px 2px 5px var.$orange-000;
                filter: drop-shadow(10px 10px var.$orange-300);
            }

            .project-description {
                width: 100%;
                display: flex;
                gap: var.$gap * 4;
                flex-direction: column;
                text-align: justify;

                .points-title {
                    text-align: center;
                    font-size: var.$fontSize * 2.5;
                    text-transform: uppercase;
                    letter-spacing: var.$letterSpacing;
                    color: var.$primary-pink;
                    font-family: var.$secondary-fontFamily;
                    filter: drop-shadow(2px 2px var.$secondary-pink);
                }

                h3 {
                    font-size: var.$fontSize * 1.6;
                    font-weight: 300;
                    line-height: var.$lineHeight * 1.2;
                    letter-spacing: var.$letterSpacing * 0.5;
                }

                ul {
                    display: flex;
                    gap: var.$gap * 2;
                    flex-direction: column;

                    li {
                        font-size: var.$fontSize * 1.6;
                        font-weight: 300;
                        line-height: var.$lineHeight * 1.2;
                        letter-spacing: var.$letterSpacing * 0.5;

                        span {
                            font-weight: 800;
                            font-size: var.$fontSize * 1.8;
                            font-family: var.$secondary-fontFamily;
                            text-transform: uppercase;
                        }
                    }
                }

                .technologies {
                    display: flex;
                    gap: var.$gap * 2;
                    align-items: center;
                    justify-content: center;

                    .technologie {
                        display: flex;
                        gap: var.$gap;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-size: var.$fontSize * 5;
                        color: var.$black;
                        transition: var.$transition;
                        animation: scale 2.5s infinite linear;
                        opacity: 0.5;

                        &:hover {
                            opacity: 1;
                            color: var.$primary-pink;
                        }

                        p {
                            text-align: center;
                            opacity: 0;
                            font-size: var.$fontSize * 1.2;
                            transition: var.$transition;
                        }

                        &:hover p {
                            opacity: 1;
                        }
                    }
                }

                .link-content {
                    display: flex;
                    gap: var.$gap * 0.5;
                    justify-content: center;
                    align-items: center;
                    transition: var.$transition;

                    &:hover {
                        transform: scale(0.9);
                    }

                    .link {
                        font-weight: 700;
                        font-size: var.$fontSize * 1.6;
                        text-decoration-style: wavy;
                        color: var.$black;
                        text-align: center;
                        line-height: var.$lineHeight;
                    }

                    .link-icon {
                        filter: none;
                        color: var.$primary-pink;
                        font-size: var.$fontSize * 2.5;
                        background-color: transparent;
                        filter: drop-shadow(2px 2px var.$secondary-pink);
                        animation: scale 2s infinite;
                    }
                }
            }
        }
    }
}

.project-images {
    position: absolute;
    z-index: -3;
    opacity: 0.3;
    color: var.$orange-200;
    font-size: var.$fontSize * 10;
}

.project-puzzle-image {
    top: 25%;
    left: 25%;
    transform: rotate(20deg);
}

.project-wave-image {
    top: 165%;
    left: 10%;
}

.project-umbrella-image {
    top: 90%;
    right: 10%;
    transform: rotate(40deg);
}

.project-water-image {
    top: 370%;
    left: 12%;
}

.project-tree-image {
    top: 300%;
    left: 20%;
}

.project-sun-image {
    top: 320%;
    right: 10%;
    transform: rotate(10deg);
}

.project-smiley-image {
    top: 550%;
    right: 15%;
}

.project-paw-image {
    top: 575%;
    left: 10%;
    transform: rotate(-20deg);
}

.project-star-image {
    top: 185%;
    right: 10%;
}

.project-line-image {
    top: 384%;
    right: 13%;
}

.project-plant-image {
    top: 485%;
    right: 20%;
}

.project-moon-image {
    top: 430%;
    left: 14%;
    transform: rotate(-10deg);
}

.project-balloon-image {
    top: 85%;
    left: 12%;
}

.project-cactus-image {
    top: 275%;
    right: 12%;
}

.project-palette-image {
    top: 475%;
    left: 20%;
}

@media (max-width: 1850px) {
    .projects-container {
        h1 {
            width: 90%;
        }
    }
}

@media (max-width: 1650px) {
    .projects-container {
        h1 {
            width: 100%;
        }

        h2 {
            width: 100%;
        }
    }
}

@media (max-width: 1560px) {
    .projects-container {
        h1 {
            font-size: var.$fontSize * 4.5;
        }

        h2 {
            font-size: var.$fontSize * 2.6;
        }

        .main-description {
            font-size: var.$fontSize * 1.6;
        }

        .projects {
            .project {
                gap: var.$gap * 5;

                .project-title {
                    width: 60%;

                    a {
                        font-size: var.$fontSize * 2.6;
                    }

                    &:hover {
                        transform: scale(0.9);
                    }
                }

                .project-description {
                    gap: var.$gap * 4;

                    .points-title {
                        font-size: var.$fontSize * 2;
                    }

                    h3 {
                        font-size: var.$fontSize * 1.4;
                    }

                    ul {
                        li {
                            font-size: var.$fontSize * 1.4;
                            span {
                                font-size: var.$fontSize * 1.6;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1290px) {
    .projects-container {
        h1 {
            font-size: var.$fontSize * 4;
        }

        h2 {
            font-size: var.$fontSize * 2.4;
        }

        .main-description {
            font-size: var.$fontSize * 1.4;
        }

        .projects {
            gap: var.$gap * 5;

            .project {
                gap: var.$gap * 4;

                .project-title {
                    width: 70%;
                }
            }
        }
    }
}

@media (max-width: 1290px) {
    .projects-container {
        width: 55%;
        gap: var.$gap * 4;

        h1 {
            font-size: var.$fontSize * 3.5;
        }

        .projects {
            .project {
                .project-description {
                    .technologies {
                        display: grid;
                        grid-template-columns: 2fr 2fr 2fr 2fr;
                        gap: var.$gap * 0.5;
                    }
                }
            }
        }
    }

    .project-palette-image {
        top: 425%;
        left: 20%;
    }
}

@media (max-width: 950px) {
    .projects-container {
        width: 60%;
    }
}

@media (max-width: 850px) {
    .projects-container {
        width: 65%;
    }
}

@media (max-width: 780px) {
    .projects-container {
        h1 {
            font-size: var.$fontSize * 3.5;

            span:nth-child(1) {
                filter: drop-shadow(1.5px 1.5px var.$secondary-pink);
            }

            span:nth-child(2) {
                filter: drop-shadow(1.5px 1.5px var.$orange-000);
            }
        }

        h2 {
            font-size: var.$fontSize * 2.2;
        }

        .main-description {
            font-size: var.$fontSize * 1.2;
        }

        .projects {
            gap: var.$gap * 4;

            .project {
                gap: var.$gap * 3;

                .project-title {
                    width: 70%;

                    a {
                        font-size: var.$fontSize * 2.2;
                        filter: drop-shadow(1.5px 1.5px var.$orange-000);
                    }
                }

                .project-description {
                    gap: var.$gap * 2.5;

                    .points-title {
                        font-size: var.$fontSize * 1.8;
                        filter: drop-shadow(1.5px 1.5px var.$secondary-pink);
                    }

                    h3 {
                        font-size: var.$fontSize * 1.2;
                    }

                    ul {
                        li {
                            font-size: var.$fontSize * 1.2;
                            span {
                                font-size: var.$fontSize * 1.4;
                            }
                        }
                    }

                    .technologies {
                        .technologie {
                            font-size: var.$fontSize * 3.5;
                            p {
                                font-size: var.$fontSize;
                            }
                        }
                    }

                    .link-content {
                        .link {
                            font-size: var.$fontSize * 1.4;
                        }
                    }
                }
            }
        }
    }

    .project-smiley-image {
        top: 450%;
        right: 15%;
    }

    .project-paw-image {
        top: 475%;
        left: 10%;
        transform: rotate(-20deg);
    }
}

@media (max-width: 680px) {
    .projects-container {
        width: 70%;

        h1 {
            font-size: var.$fontSize * 3;
        }
    }
}

@media (max-width: 550px) {
    .projects-container {
        width: 75%;

        h1 {
            font-size: var.$fontSize * 2.6;
        }

        h2 {
            font-size: var.$fontSize * 1.8;
        }
    }
}

@media (max-width: 420px) {
    .projects-container {
        h1 {
            font-size: var.$fontSize * 2.2;
        }

        h2 {
            font-size: var.$fontSize * 1.6;
        }

        .projects {
            .project {
                .project-title {
                    width: 80%;

                    a {
                        font-size: var.$fontSize * 2;
                    }
                }

                .project-description {
                    gap: var.$gap * 2.4;

                    .points-title {
                        font-size: var.$fontSize * 1.6;
                    }

                    .technologies {
                        gap: 0;

                        .technologie {
                            font-size: var.$fontSize * 2.8;
                            p {
                                font-size: var.$fontSize * 0.8;
                            }
                        }
                    }

                    .link-content {
                        .link {
                            font-size: var.$fontSize * 1.2;
                        }
                    }
                }
            }
        }
    }
}
