@use './variables.scss' as var;
@use 'sass:math';
@import './mixins.scss';

.background-registration-container {
    position: relative;
    background-color: var.$secondary-violet;

    .registration-container {
        margin-top: var.$margin * 2;
        display: grid;
        gap: var.$gap * 6;
        grid-template-rows: 0.05fr 0.95fr;
        color: var.$peach;

        h1 {
            width: 60%;
            text-align: center;
            font-weight: 100;
            color: var.$peach;
            font-size: var.$fontSize * 4.4;
            font-family: var.$third-fontFamily;
            line-height: var.$lineHeight * 0.9;
            letter-spacing: var.$letterSpacing * 2;
            filter: drop-shadow(3px 3px var.$secondary-pink);
            margin: 0 auto;
        }

        .steps-container {
            width: 70%;
            margin: 0 auto var.$margin * 8;
            @include flex-column;
            gap: var.$gap * 6;

            .step {
                position: relative;
                width: 65%;
                justify-self: center;

                h2 {
                    font-size: var.$fontSize * 3;
                    font-weight: 400;
                    font-family: var.$secondary-fontFamily;
                    line-height: var.$lineHeight * 0.75;
                    letter-spacing: var.$letterSpacing * 3;
                    text-transform: uppercase;
                    color: var.$peach;
                    margin: var.$margin 0;
                }

                p {
                    font-weight: 100;
                    font-size: var.$fontSize * 2;
                    letter-spacing: var.$letterSpacing;
                    line-height: var.$lineHeight;
                    text-align: justify;
                    color: var.$peach;
                    padding: 0;
                }

                span {
                    font-weight: 900;
                    font-size: var.$fontSize * 2.5;
                    color: var.$primary-pink;
                    filter: drop-shadow(1px 1px var.$secondary-pink);
                }
            }
        }
    }
}

.registration-images {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    color: var.$primary-pink;
    font-size: var.$fontSize * 12;
}

.registration-star-image {
    top: 0%;
    left: 15%;
    transform: rotate(5deg);
}

.registration-rainbow-image {
    top: 30%;
    right: 10%;
}

.registration-rocket-image {
    top: 55%;
    left: 10%;
}

.registration-sparkle-image {
    top: 80%;
    right: 15%;
}

.registration-shapes-image {
    top: 52%;
    right: 35%;
}

@media (max-width: 1680px) {
    .background-registration-container {
        .registration-container {
            gap: var.$gap * 5.5;

            h1 {
                font-size: var.$fontSize * 4.4;
            }
        }
    }
}

@media (max-width: 1545px) {
    .background-registration-container {
        .registration-container {
            gap: var.$gap * 5;

            h1 {
                font-size: var.$fontSize * 3.5;
                margin: var.$margin * 2.5 auto;
            }

            .steps-container {
                .step {
                    width: 70%;

                    h2 {
                        font-size: var.$fontSize * 2.5;
                    }

                    p {
                        font-size: var.$fontSize * 1.8;
                    }

                    span {
                        font-size: var.$fontSize * 2.2;
                    }
                }
            }
        }
    }

    .registration-star-image {
        left: 10%;
    }

    .registration-rainbow-image {
        top: 15%;
    }
}

@media (max-width: 1325px) {
    .registration-images {
        font-size: var.$fontSize * 8;
    }
}

@media (max-width: 1050px) {
    .background-registration-container {
        .registration-container {
            gap: var.$gap * 4.5;

            .steps-container {
                .step {
                    span {
                        font-size: var.$fontSize * 2;
                    }
                }
            }
        }
    }
}

@media (max-width: 995px) {
    .background-registration-container {
        .registration-container {
            .steps-container {
                .step {
                    width: 80%;

                    h1 {
                        font-size: var.$fontSize * 3;
                    }

                    h2 {
                        font-size: var.$fontSize * 2.2;
                    }

                    p {
                        font-size: var.$fontSize * 1.6;
                    }
                }
            }
        }
    }

    .registration-sparkle-image {
        right: 8%;
    }

    .registration-rainbow-image {
        font-size: var.$fontSize * 12;
    }

    .registration-rocket-image {
        left: 5%;
        font-size: var.$fontSize * 12;
    }
}

@media (max-width: 850px) {
    .background-registration-container {
        .registration-container {
            h1 {
                width: 65%;
                margin: var.$margin * 2 auto;
            }

            .steps-container {
                width: 70%;
                .step {
                    width: 85%;
                }
            }
        }
    }

    .registration-rocket-image {
        top: 90%;
        left: 2%;
        transform: rotate(-90deg);
        font-size: var.$fontSize * 10;
    }

    .registration-sparkle-image {
        top: 89%;
        right: 10%;
    }

    .registration-star-image {
        top: -5%;
        font-size: var.$fontSize * 12;
    }

    .registration-rainbow-image {
        top: 17%;
        right: 12%;
    }
}

@media (max-width: 745px) {
    .background-registration-container {
        .registration-container {
            h1 {
                filter: drop-shadow(1px 1px var.$secondary-pink);
            }

            .steps-container {
                gap: var.$gap * 4;

                .step {
                    h2 {
                        font-size: var.$fontSize * 2;
                    }

                    p {
                        font-size: var.$fontSize * 1.5;
                    }
                    span {
                        font-size: var.$fontSize * 1.8;
                        filter: drop-shadow(0.5px 0.5px var.$secondary-pink);
                    }
                }
            }
        }

        .registration-rocket-image {
            font-size: var.$fontSize * 8;
        }

        .registration-star-image {
            top: -5%;
            left: 7%;
            font-size: var.$fontSize * 9;
        }

        .registration-sparkle-image {
            top: 93%;
            font-size: var.$fontSize * 6;
        }
    }

    @media (max-width: 650px) {
        .registration-rainbow-image {
            top: 10%;
        }
    }

    @media (max-width: 595px) {
        .background-registration-container {
            .registration-container {
                width: 90%;
                margin: 0 auto var.$margin * 6;

                h1 {
                    width: 100%;
                }

                .steps-container {
                    width: 100%;

                    .step {
                        width: 100%;

                        h2 {
                            font-size: var.$fontSize * 1.8;
                        }

                        p {
                            font-size: var.$fontSize * 1.4;

                            span {
                                font-size: var.$fontSize * 1.6;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 530px) {
        .registration-star-image {
            top: -2%;
            left: 10%;
        }

        .registration-rocket-image {
            top: 70%;
            left: 72%;
        }

        .registration-sparkle-image {
            top: 93%;
            left: 4%;
        }

        .registration-rainbow-image {
            top: 13%;
            left: 70%;
        }

        .registration-images {
            font-size: var.$fontSize * 6;
        }
    }

    @media (max-width: 505px) {
        .background-registration-container {
            .registration-container {
                .steps-container {
                    .step {
                        width: 100%;

                        h2 {
                            letter-spacing: var.$letterSpacing;
                        }

                        p {
                            letter-spacing: var.$letterSpacing * 0.7;
                            line-height: var.$lineHeight;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 475px) {
        .background-registration-container {
            .registration-container {
                gap: var.$gap * 3;

                .steps-container {
                    gap: var.$gap * 2;

                    .step {
                        h2 {
                            font-size: var.$fontSize * 1.6;
                        }

                        p {
                            margin-bottom: var.$margin * 2;

                            span {
                                font-size: var.$fontSize * 1.4;
                            }
                        }
                    }
                }
            }
        }

        .registration-rainbow-image {
            top: 13%;
        }
    }
}
