@use './variables.scss' as var;
@use 'sass:math';

.registration-container {
    position: relative;
    min-height: var.$height * 1.4;
    display: grid;
    gap: var.$gap * 6;
    grid-template-rows: 0.05fr 0.95fr;
    color: var.$peach;

    h1 {
        width: 50%;
        text-align: center;
        font-weight: 800;
        color: var.$peach;
        font-size: var.$fontSize * 4;
        font-family: var.$secondary-fontFamily;
        line-height: math.div(var.$lineHeight, 1.5);
        letter-spacing: var.$letterSpacing * 2;
        filter: drop-shadow(2px 2px var.$secondary-pink);
        margin: var.$margin * 3 auto;
    }
}

.steps-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: var.$gap * 6;
    align-items: center;
    flex-direction: column;

    .step {
        position: relative;
        width: 65%;
        justify-self: center;

        h2 {
            font-size: var.$fontSize * 3;
            font-weight: 900;
            font-family: var.$secondary-fontFamily;
            line-height: var.$lineHeight * 0.75;
            letter-spacing: var.$letterSpacing * 2;
            text-transform: uppercase;
            color: var.$peach;
            margin: var.$margin 0;
        }

        p {
            font-size: var.$fontSize * 2.1;
            letter-spacing: var.$letterSpacing;
            line-height: var.$lineHeight;
            text-align: justify;
            color: var.$peach;
        }

        span {
            font-weight: 800;
            color: var.$primary-pink;
            filter: drop-shadow(2px 2px var.$secondary-pink);
        }
    }
}

.registration-images {
    position: absolute;
    z-index: -2;
}

.registration-plane-image {
    width: 20%;
    top: 5%;
    left: 5%;
    transform: rotate(5deg);
}

.registration-ideas-image {
    width: 12%;
    top: 35%;
    right: 10%;
}

.registration-flower-image {
    width: 12%;
    top: 60%;
    left: 10%;
}
