@use './variables.scss' as var;
@use 'sass:math';
@import './mixins.scss';

.menu-container {
    margin: 0;

    .menu-icon {
        color: var.$orange-300;
        line-height: 8vh;
        padding-left: var.$padding * 2;
        padding-top: var.$padding * 0.5;
        font-size: var.$fontSize * 5;
        filter: drop-shadow(2px 2px var.$orange-000);
        cursor: pointer;
    }

    .exit-icon {
        width: 50px;
        height: 50px;
        @include flex;
        justify-content: center;
        position: absolute;
        top: 5%;
        left: 5%;
        color: var.$orange-000;
        font-size: var.$fontSize * 3;
        background-color: transparent;
        filter: drop-shadow(10px 10px transparent);
        border: none;
        cursor: pointer;
    }

    .small-menu {
        inset: 0;
        width: 50vw;
        height: 25vh;
        position: absolute;
        top: calc(15vh + 5px);
        left: 5px;
        z-index: -1;
        @include flex-column;
        gap: var.$gap * 2;
        border-radius: var.$borderRadius * 1.4;
        background-color: var.$secondary-violet;
        transition: var.$transition;
        opacity: 0;

        .small-menu-content {
            width: 40vw;
            height: 4vh;
            padding-left: var.$padding;
            @include flex;
            gap: var.$gap * 0.5;
            background-color: var.$primary-pink;
            border-radius: var.$borderRadius;
            filter: drop-shadow(2px 2px var.$secondary-pink);
            transition: var.$transition;
            cursor: pointer;

            .small-menu-icon {
                font-size: var.$fontSize * 2;
                color: var.$white;
                filter: drop-shadow(1px 1px var.$black);
            }

            p {
                color: var.$white;
                font-size: var.$fontSize * 1.6;
                font-weight: 500;
                font-family: var.$secondary-fontFamily;
                letter-spacing: var.$letterSpacing * 2;
                filter: drop-shadow(1px 1px var.$black);
                text-transform: uppercase;
                transition: var.$transition;
            }
        }
    }

    .small-menu-content:hover {
        transform: scale(0.95);
    }

    .small-menu-move {
        opacity: 1;
        z-index: 100;
    }
}

@media (max-width: 695px) {
    .menu-container {
        .small-menu {
            .small-menu-content {
                p {
                    font-size: var.$fontSize * 1.4;
                }
            }
        }
    }
}

@media (max-width: 395px) {
    .menu-container {
        .small-menu {
            .small-menu-content {
                p {
                    font-size: var.$fontSize * 1.2;
                }
            }
        }
    }
}
