@use './variables.scss' as var;
@use 'sass:math';

.values-container {
    position: relative;
    width: 60%;
    min-height: 100vh;
    margin: 0 auto var.$margin * 6;
    display: flex;
    gap: var.$gap * 6;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var.$peach;

    h1 {
        text-align: center;
        font-weight: 800;
        color: var.$peach;
        font-size: var.$fontSize * 4;
        font-family: var.$secondary-fontFamily;
        line-height: math.div(var.$lineHeight, 1.8);
        text-align: justify;
        letter-spacing: var.$letterSpacing * 2;
        filter: drop-shadow(2px 2px var.$secondary-pink);
        margin: 0 auto;
    }

    h2 {
        font-weight: 800;
        font-size: var.$fontSize * 2.5;
        color: var.$primary-pink;
        filter: drop-shadow(2px 2px var.$secondary-pink);
    }

    h3 {
        width: 80%;
        font-weight: 400;
        font-size: var.$fontSize * 1.6;
        letter-spacing: var.$letterSpacing;
        text-align: justify;
        line-height: 2;
    }
}

.values {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-content: center;
    gap: var.$gap * 10;

    .value {
        margin-top: var.$margin * 1.5;
        text-align: center;
        letter-spacing: var.$letterSpacing;

        &:hover .value-icon {
            transform: scale(0.95);
            opacity: 1;
        }
    }

    .value-icon {
        font-size: var.$fontSize * 10;
        background-color: transparent;
        border: none;
        color: var.$peach;
        filter: drop-shadow(3px 3px var.$secondary-pink);
        transition: var.$transition;
        opacity: 0.3;
        cursor: pointer;
    }
}

.values-description {
    width: 85%;
    min-height: 25vh;
    border-radius: var.$borderRadius;
    padding: var.$margin;
}

.value-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        margin-bottom: var.$margin;
        color: var.$peach;
        font-weight: 200;
        font-size: var.$fontSize * 1.6;
        line-height: var.$lineHeight;
        letter-spacing: var.$letterSpacing;

        span {
            font-weight: 800;
            color: var.$primary-pink;
            filter: drop-shadow(2px 2px var.$secondary-pink);
        }
    }

    h2 {
        margin-bottom: var.$margin;
        color: var.$peach;
        font-size: var.$fontSize * 3;
        font-family: var.$secondary-fontFamily;
        font-weight: 800;
        text-align: center;
        filter: drop-shadow(2px 2px var.$secondary-pink);
        text-transform: uppercase;
        letter-spacing: var.$letterSpacing * 2;
        transition: var.$transition;
    }

    .value-text {
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 8fr 1fr;

        .values-btn {
            filter: none;
            color: var.$peach;
            font-size: var.$fontSize * 4;
            background-color: transparent;
            filter: drop-shadow(2px 2px var.$secondary-pink);
            animation: scale 2s infinite;
        }
    }
}

.value.active .value-icon {
    opacity: 1;
}

.values-image-flower {
    width: 13%;
    position: absolute;
    top: 5%;
    right: -10%;
    transform: rotate(-20deg);
    z-index: -2;
}

.values-image-plane {
    width: 23%;
    position: absolute;
    top: 22%;
    left: -22%;
    z-index: -2;
    transform: rotate(-10deg);
}

.values-image-bulb {
    width: 12%;
    position: absolute;
    top: 80%;
    right: -13%;
    transform: rotate(30deg);
    z-index: -2;
}
