@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Bitter&family=Rubik+Gemstones:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* COLORS */

$primary-pink: #da96b0;
$secondary-pink: #6b4554;
$primary-violet: #605966;
$secondary-violet: #302939;

$orange-000: #e97a1d;
$orange-100: #ee974f;
$orange-200: #f0a668;
$orange-300: #f8d3b4;
$orange-400: #fdf0e6;

$gray-100: #f2f2f2;
$gray-200: #a9a9a9;
$gray-300: #616161;

$black: #444444;
$white: #fefcfd;
$red: #be0303;
$green: #2e8b57;
$peach: #fffbf8;

/* FONT */

$primary-fontFamily: 'Comfortaa', sans-serif;
$secondary-fontFamily: 'Bitter', sans-serif;
$third-fontFamily: 'Rubik Gemstones', cursive;

$fontSize: 10px;
$letterSpacing: 1px;
$lineHeight: 2;

/* BOX SHADOW */

$shadow-1: 1px 1px 10px var(--black);
$shadow-2: 0 0 10px 10px var(--black);

/* REST vars */

$backgroundColor: var(--white);
$borderRadius: 25px;

$transition: 0.5s;

$width: 100vw;
$height: 100vh;

$margin: 1rem;
$padding: 1rem;
$gap: 10px;
