@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* COLORS */

$primary-pink: #fc6990;
$secondary-pink: #c74668;

$light-olive: #9c98a0;
$primary-olive: #605966;
$secondary-olive: #383040;

$orange-000: #bf613f;
$orange-100: #d98c4a;
$orange-200: #e1a36e;
$orange-300: #e8ba92;
$orange-400: #f7dcc5;

$gray-100: #f2f2f2;
$gray-200: #a9a9a9;
$gray-300: #616161;

$black: #333333;
$white: #fefcfd;
$red: #be0303;
$green: #2e8b57;
$peach: #fff5ec;

/* FONT */

$primary-fontFamily: 'Montserrat', sans-serif;
$secondary-fontFamily: 'Dancing Script', cursive;

$fontSize: 10px;
$letterSpacing: 1px;
$lineHeight: 2;

/* BOX SHADOW */

$shadow-1: 1px 1px 10px var(--black);
$shadow-2: 0 0 10px 10px var(--black);

/* REST vars */

$backgroundColor: var(--white);
$borderRadius: 25px;

$transition: 0.5s;

$width: 100vw;
$height: 100vh;

$margin: 1rem;
$padding: 1rem;
$gap: 10px;
