@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* COLORS */
/* FONT */
/* BOX SHADOW */
/* REST vars */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #fff5ec;
    color: #333333;
}
